/* SUMMARY
  0. Imports
  1. Custom properties
  2. Base
  3. Globals
  4. Headings
  5. Text formatting
  6. Header
  7. Main
  8. Aside
  9. Nav
  10. Footer
  11. Media queries

  0. IMPORTS
  ============================= */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500&display=swap');
/* 1. CUSTOM PROPERTIES
  ============================= */
:root {
  --c-black: #080808;
  --c-white: #fdfdfd;
  --c-dark: #30363d;
  --c-light: #d8d8d8;
  --c-primary: #0078d7;
  --c-highlight: #00a1f1;
  --ff-base: 'Noto Sans Display', sans-serif;
  --fw-light: 300;
  --fw-base: 400;
  --fw-bold: 500;
  --fs-l: 1.8rem;
  --fs-base: 1.6rem;
  --fs-s: 1.3rem;
  --fs-xs: 1rem;
}
/* 2. BASE
  ============================= */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--c-white);
  color: var(--c-dark);
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  line-height: 1.6;
}

a {
  color: var(--c-primary);
}
a:link {
  text-decoration: none;
}
a:visited {
  font-style: italic;
}
a:hover {
  text-decoration: underline;
  color: var(--c-highlight);
}
a:active {
  color: var(--c-highlight);
}
/* 3. GLOBALS
  ============================= */
.container-fluid {
  width: 100%;
}
.container {
  width: 100%;
}
.d-none {
  display: none;
}
/* 4. HELADINGS
  ============================= */
.title {
  margin: 0;
  font-size: 1px;
  font-weight: var(--fw-light);
  color: var(--c-white);
}
.subtitle {
  font-size: var(--fs-l);
  font-weight: var(--fw-bold);
  text-align: center;
}
.heading {
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
}
/* 5. TEXT FORMATTING
============================= */
.foot {
  font-size: var(--fs-xs);
}
/* 6. HEADER
============================= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  margin: 0;
  display: flex;
  align-items: center;
}
.brand-logo {
  width: 6rem;
}
.brand-name span {
  font-size: var(--fs-s);
}
.toggle-theme {
  margin-right: 2rem;
}
/* 7. MAIN
============================= */
.main {
  margin-top: 4rem;
  padding: 0 2rem;
}
.person {
  width: 16rem;
  margin: auto;
  text-align: center;
}
.person-picture {
  width: 8rem;
}
.person-name {
  font-size: var(--fs-s);
  font-weight: var(--fw-light);
}
/* 8. ASIDE
  ============================= */
.details {
  padding: 0 2rem;
  font-weight: var(--fw-light);
}
.summary {
  font-weight: var(--fw-bold);
  color: var(--c-primary);
}
/* 9. NAV
  ============================= */
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 2rem;
  background-color: var(--c-white);
}
.icon {
  margin: 0;
  width: 6.4rem;
  text-align: center;
  padding: 1rem 0 0 0;
}
.icon-email {
  width: 2rem;
}
.icon-call {
  width: 2rem;
}
.icon-linkedin {
  width: 2rem;
}
.icon-github {
  width: 2rem;
}
.icon-whatsapp {
  width: 2rem;
}
/* 10. FOOTER
  ============================= */
.footer {
  text-align: end;
  font-size: var(--fs-s);
  position: fixed;
  bottom: 0;
  background-color: var(--c-white);
}
.footer p {
  margin: 0;
  padding: 0 2rem;
}
/*
.home {
  margin: 4rem auto;
  text-align: center;
}
.home figure {
  width: 10rem;
  margin: auto;
}
.home figure img {
  border: thin solid var(--white);
  border-radius: 50%;
}
.home figure figcaption {
  font-weight: var(--fw-light);
  font-size: var(--fs-xxs);
  text-align: center;
}
.portfolio {
  margin: 4rem auto;
  text-align: center;
}
.portfolio figure {
  width: 10rem;
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.portfolio figure img {
  border: thin solid var(--white);
  border-radius: 50%;
}
.portfolio figure figcaption {
  font-weight: var(--fw-light);
  font-size: var(--fs-xxs);
  text-align: center;
}
.portfolio figure:hover {
  opacity: 0.7;
}
.about {
  margin: 4rem auto;
}
*/
/* 12. MEDIA QUERIES
  ============================= */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 1rem 0;
  }
  .home figure figcaption {
    font-size: var(--fs-xs);
  }
  .footer {
    padding: 1rem;
  }
  .footer p {
    font-size: var(--fs-s);
  }
  .footer small {
    font-size: var(--fs-xs);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header figure {
    width: 22rem;
  }
  .header figure img {
    width: 6rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--fs-xl);
  }
  .header {
    padding: 1.5rem;
  }
  .home figure figcaption {
    font-size: var(--fs-s);
  }
  .footer {
    padding: 2rem;
  }
  .footer p {
    font-size: var(--fs-base);
  }
  .footer small {
    font-size: var(--fs-s);
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .btn-menu {
    display: none;
  }
  .navbar {
    display: block;
    position: static;
    z-index: 0;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    overflow-y: auto;
    background-color: var(--gray);
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
  .navbar__menu-list {
    list-style: none;
    width: inherit;
    display: flex;
    flex-direction: row;
    position: static;
  }
  .navbar__menu-list a {
    display: block;
    transition: all 0.5s ease;
    padding: 0.5rem 1rem;
  }
  .navbar__menu-list a:hover {
    background-color: inherit;
    border-radius: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .header {
    padding: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .header figure {
    width: 24rem;
  }
  .header figure img {
    width: 8rem;
  }
}
/* ?. THEME
  ============================= */
.light-mode {
  background-color: var(--white);
  color: var(--black);
}
.dark-mode {
  background-color: var(--black);
  color: var(--white);
}
/* ?. THEME BUTTON
  ============================= */
.btn-theme {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 8rem;
  display: flex;
}
.btn-theme__cb {
  visibility: hidden;
}
.btn-theme__label {
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem;
  border: thin solid var(--lightblue);
  background-color: var(--lightgray);
  position: relative;
}
.btn-theme__label:hover {
  cursor: pointer;
}
.btn-theme__inner {
  width: 1.6rem;
  height: 1.6rem;
  left: 0.8rem;
  top: -0.3rem;
  text-align: center;
  position: absolute;
  transition: 0.8s;
}
.btn-theme__inner::before {
  content: '☀️';
}
.btn-theme__switch {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--blue);
  border: thin solid var(--lightblue);
  border-radius: 50%;
  right: -0.8rem;
  position: absolute;
  transition: 0.8s;
}
.btn-theme .btn-theme__cb:not(:checked) + .btn-theme__label {
  background-color: var(--gray);
}
.btn-theme .btn-theme__cb:not(:checked) + .btn-theme__label .btn-theme__inner {
  transform: translateX(1.3rem);
}
.btn-theme
  .btn-theme__cb:not(:checked)
  + .btn-theme__label
  .btn-theme__inner::before {
  content: '🌙';
}
.btn-theme .btn-theme__cb:not(:checked) + .btn-theme__label .btn-theme__switch {
  transform: translateX(-3.6rem);
}
/* ?. MENU BUTTON
  ============================= */
.btn-menu {
  position: fixed;
  z-index: 999;
  bottom: 2vh;
  right: 2vw;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}
.btn-menu:hover {
  background-color: var(--darkblue);
}
.btn-menu:focus {
  outline: none;
}
.btn-menu__menu-open {
  display: none;
}
.btn-menu__menu-open__btn {
  width: 2rem;
  height: 2rem;
}
.btn-menu__menu-line {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--white);
  border-radius: 0.2rem;
  position: absolute;
  transition: all 0.1s ease-in-out;
  margin: 1rem -1rem;
}
.btn-menu__menu-line--1 {
  transform: translate3d(0, -0.7rem, 0);
}
.btn-menu__menu-line--2 {
  width: 1.4rem;
  transform: translate3d(0, 0, 0);
}
.btn-menu__menu-line--3 {
  transform: translate3d(0, 0.7rem, 0);
}
.btn-menu__menu-open:checked
  + .btn-menu__menu-open__btn
  .btn-menu__menu-line--1 {
  transform: rotate(45deg) translate3d(0, 0, 0);
}
.btn-menu__menu-open:checked
  + .btn-menu__menu-open__btn
  .btn-menu__menu-line--2 {
  transform: scale(0) translate3d(0, 0, 0);
}
.btn-menu__menu-open:checked
  + .btn-menu__menu-open__btn
  .btn-menu__menu-line--3 {
  transform: rotate(-45deg) translate3d(0, 0, 0);
}
/* ?. NAVIGATION BAR
  ============================= */
.navbar {
  display: block;
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--gray);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate(-100%, 0);
}
.navbar.nv-active {
  opacity: 0.96;
  visibility: visible;
  transform: translate(0, 0);
}
.navbar__menu-list {
  list-style: none;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  text-transform: uppercase;
}
.navbar__menu-list li {
  width: 100%;
}
.navbar__menu-list a {
  display: block;
  width: inherit;
  transition: all 0.3s ease;
  padding: 2rem 4rem;
}
.navbar__menu-list a:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 2rem 0 0 2rem;
}
